.Modal{
    background: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 11000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.Modal-Content{
	background-color: white;
	margin: auto;
	padding: 4rem;
	position: absolute;
	top: 10%;
	left: 25%;
	right: 25%;
	max-width: 500px;
	border-radius: 6px;
}
