.Add-Video-Form {
	position: relative;
	width: 80%;
	display: flex;
	margin: 2rem 1rem;
}

.Add-Video-Form > .form-input {
	width: 100%;
}

.form-input {
	padding: 0.5rem;
}

.Add-Video-Form > .form-btn-icon {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
}
