.Add-Video-Form {
	position: relative;
	display: flex;
	margin: auto;
	align-items: center;
}

.Add-Video-Form > .form-input {
	width: 100%;
}

.form-input {
	padding: 0.5rem;
}

.Add-Video-Form > .form-btn-icon {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
}

.Add-Video__Preview {
	display: flex;
	justify-content: center;
	align-items: center;
}
